.questionAnswerBox{
    width: 100%;
    text-align: center;
}

.questionBox{
/* width: 95%; */
  border: 1px solid #CCCCCC;
  padding: 15px 20px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: Poppins-Medium;
  font-size: 18px;
  margin-bottom: 20px;
  cursor: pointer;
}

.answerBox{
    /* width: 95%; */
    color: #1E1D1D;
    font-size: 14px;
    line-height: 21px;
    padding: 20px;
    padding-top: 0px;
}