.inputBox {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border: 1px solid #C0C0C0; */
    background-color: white;
    width: 100%;
    height: 60px;
    padding-left: 20px;
    border-radius: 5px;
    margin: 8px 0px;
    overflow: hidden;
    z-index: 20;
}

.leftBox {
    display: flex;
    gap: 5px;
    align-items: center;
    flex: 1;
}

input {
    outline: none;
    border: none;
    background: transparent;
    height: 100%;
    width: 100%;
    font-size: 16px;
    font-family: Poppins-Regular;
    color:black;
    z-index: 5;

}

input::placeholder{
    font-family: Poppins-Regular;
    color: black;
    font-size: 16px;
}

.isPassword-style{
    color: #FFA63D;
    font-size: 13px;
    font-family: Poppins-Medium;
    margin-right: 20px;
    cursor: pointer;

}


input::placeholder {
    color: gray;
    font-family: Poppins, 'Courier New', Courier, monospace;
    font-size: 14px;
}

.rightBox1{
    background-color: #FFA63D;
    height: 100%;
    width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.rightBox1 img{
    width: 20px;
}

.required-style{
    color: #DC2626;
    padding-left: 3px;
}


@media (max-width: 699px) {
    .inputBox {
        height: 45px;
    }


    /* input {
        width: 85%;
    } */
}