.form-hero-left{
    padding: 8%;
    padding-left: 16%;
    height: 100%;
    display: flex;
    align-items: center;
}

.form-hero-right{
    background-image: url('../../assets/img/hero-img-bg.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    text-align: end;
    position: relative;
}

.form-hero-right img{
    width: 85%;
    margin-right: 13%;
    margin-top: 180px;
    margin-bottom: -5px;
}

.form-sec2-box{
    padding: 0% 20%;
}

.form-heading1{
    height: 100%;
    display: flex;
    align-items: center;
    font-family: Poppins-Medium;
    font-size: 22px;
    line-height: 30px;
    color: #383838;
}

.form-sec2-interest-input{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

.form-sec2-interests-box{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 20px;
    margin-bottom: 20px
}

.form-sec2-interests-box div{
    background-color: lightgray;
    padding: 12px;
    border-radius: 5px;
    font-family: Poppins-Bold;
    font-size: 16px;
    line-height: 18px;
    color: black;
    display: flex;
    align-items: center;
    gap: 20px;

}

.form-cursor{
    cursor: pointer;
}

.form-cursor:hover{
    color: red;
    transition: 0.5s ease;
}

